@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: -0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: rgba(0, 0, 0, .2);
}

html{
    scroll-behavior: smooth;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
header span{
    color: #ffffff;
}

.logo {
    font-size: 2em;
    color: #ffffff;
    pointer-events: none;
    margin-right: 500px;
}
 .navigation{
    border-radius: 90px;
    padding: 6px 0px;
    background-color: #ffcb70;
} 

.navigation a {
    text-decoration: none;
    color: #bd1490;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0 0px;
    font-weight: 600;
}

.navigation a:hover {
    background: #f49a00;
    color: #fff;
}


body {   
    background-image: url("img/38205960340821.jpg");
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background-image: url("img/projRobotExample.png");
    background-size:cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url("img/1_a_5wNKSTaIGVi9EWStk6_Q.png");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(1) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}


.img-box:nth-child(2) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(3) h3{
    background-color: #000000a1;
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(4) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(5) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(6) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}


.img-box:nth-child(7) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(3){
    background: url("img/f42ae7b0ab578c72b39b29207fe71bd7.jpg");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4){
    background: url("img/p3.jpg");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(5){
    background: url("img/battleship-og-img.png");
    background-size: cover;
    background-position: center;
}


.img-box:nth-child(6){
    background: url("img/facerecog.png");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(7){
    background: url("img/seakeeper-rendering.jpeg");
    background-size: 500px;
    background-position: center;
}

.img-box:nth-child(7) i{
    color: rgb(11, 150, 200);
}

.img-box:nth-child(6) i{
    color: rgb(255, 255, 255);
    
}

.img-box i{
    background-color: #ffffff00;
    border-radius: 200px;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
    
}


.img-box h3{
    
    
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 300;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 300px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 35px;
}