@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: rgba(0, 0, 0, .2);
}

html{
    scroll-behavior: smooth;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
header span{
    color: #359381;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}
 .navigation{
    border-radius: 90px;
    padding: 6px 0px;
    background-color: #93dfd5;
} 

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 30px;
    border-radius: 20px;
    margin: 0 0px;
    font-weight: 600;
}

.navigation a:hover {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bb{
    height: 100vh;  
}

.container{
    padding: 10px 5%;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

#text1 {
    position: relative;
    font-size: 5em;
    margin-top: -400px;
    color: #83b39a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#about{
    position: relative;
    background-image: url("img/38205960340821.jpg");
    background-size:cover;
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:35%;
}

.about-col-1 img{
    width: 70%;
    border-radius: 15px;
}

.about-col-2{
    border-radius: 40px;
    background-color: #0000006a;
    font-size:17px;
    flex-basis: 65%;
}
.about-col-2 p{
    margin-left: 30px;
}
.sub-title{
    margin-left: 30px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    margin: 100px;
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #fff;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #93dfd5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-content ul li{
    color: #fff;
    list-style: none;
    margin: 10px 20px;
}

.tab-content ul li span{
    color: #93dfd5;
    font-size: 20px;
}

.tab-content{
    display: none;

}

.tab-content.active-tab{
    display: block;
}

/*-----------serv----------*/
#services{
    position:relative;
    background-image: url("img/ah.jpg");
    background-size: cover;
    padding: 30px ;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #83b39a;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 1s, background 1s;
}

.services-listh2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
   text-decoration: none;
   color: #fff;
   font-size: 12px;
   margin-top: 20px; 
   display: inline-block;
}

.services-list div:hover{
    background: #ffffff;
    transform: translateY(-10px);
}


#portfolio{
    position: relative;
    /* background: #003329; */
    background-image: url("img/38205960340821.jpg");
    background-size: 100%;
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: all .5s ease-in-out;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(54,75,113,0.6), #359381);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    color: #003329;
    font-weight: 1000;
    margin-bottom: 20px;
    font-size: 30px;
}

.layer a{
    margin-top: 20px;
    color: #359381;
    text-decoration:none ;
    font-size: 18px;
    line-height: 60px;
    background: #003329;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer a i{
    font-size: 25px;
    margin-top: 17.5px;
}

.work:hover img{
    transform: scale(1.2);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #359381;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #93dfd5;
}


.gallery{
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-box{
    width: 100px;
    height: 300px;
    margin: 10px;
    border-radius: 50px;
    background-image: url("img/projRobotExample.png");
    background-size:cover;
    background-position: center;
    position: relative;
    transition: width 0.5s, height 0.5s;
}


.img-box1{
    width: 100px;
    height: 300px;
    margin: 10px;
    border-radius: 50px;
    background-size:cover;
    background-position: center;
    position: relative;
    transition: width 0.5s, height 0.5s;
}

.img-box:nth-child(2){
    background: url("img/1_a_5wNKSTaIGVi9EWStk6_Q.png");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(1) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}


.img-box:nth-child(2) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(3) h3{
    background-color: #000000a1;
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(4) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box1:nth-child(1) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box1:nth-child(2) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}


.img-box1:nth-child(3) h3{
    background-color: #020202a1;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-weight: 300;
    left: 30px;
    opacity: 00;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(3){
    background: url("img/f42ae7b0ab578c72b39b29207fe71bd7.jpg");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4){
    background: url("img/p3.jpg");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(5){
    background: url("img/battleship-og-img.png");
    background-size: cover;
    background-position: center;
}


.img-box1:nth-child(1){
    background: url("img/facerecog.png");
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(2){
    background: url("img/seakeeper-rendering.jpeg");
    background-size: 500px;
    background-position: center;
}

.img-box1:nth-child(3){
    background: url("img/p2.jpg");
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(4){
    background: url("img/p1.jpg");
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(2) i{
    color: rgb(11, 150, 200);
}

.img-box1:nth-child(3) i{
    color: rgb(11, 150, 200);
    
}



.img-box i{
    background-color: #ffffff00;
    border-radius: 200px;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
    
}

.img-box1 i{
    background-color: #ffffff00;
    border-radius: 200px;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
    
}


.img-box h3{
    
    
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 300;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 300px;
    height: 450px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 35px;
}

.img-box1 h3{
    
    
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: 300;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box1:hover{
    width: 300px;
    height: 450px;
    cursor: pointer;
}

.img-box1:hover h3{
    opacity: 1;
    bottom: 35px;
}

/*-----------contact----------*/
#contact{
    position: relative;
    background: #003329;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    color: #93dfd5;
    margin-top: 30px;
}

.contact-left p i{
    color: #93dfd5;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #93dfd5;
    transform: translateY(-5px);
}

.btn.btn2{
    color: #003329;
    display: inline-block;
    background: #93dfd5;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ababab;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* -------------------morework---------------- */



/* ----------------css for small screen -------------- */
@media only screen and (max-width: 900px){
    body {
        background: #f9f9f9;       
        width: 1000px;
        min-height: 100vh;
        overflow-x: hidden;
    }
    html{
        scroll-behavior:auto;
    }

    header {
        position: absolute;
        top: 0;
        left:20px;
        width: 100%;
        padding: 30px -800px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
    }
    .navigation{
        display: none;
        border-radius: 10px;
        padding: 10px 2px;
        background-color: #93dfd5;
    } 
    
    .navigation a {
        text-decoration: none;
        color: #359381;
        padding: 1px 30px;
        border-radius: 90px;
        margin: 10px 10px;
        font-weight: 600;
    }
    
    .navigation a:hover {
        background: #359381;
        color: #fff;
    }
    
    .parallax {
        background-image: url("img/5367246.jpg");
        width: 100%;
        background-size: cover;
        background-color: #0f1c25;
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    
    .bb{
        height: 100vh;  
    }
    .container{
        padding: 0px 10%;
    }
    .parallax img {
        display: none;
        
    }

    #about{
        position: relative;
        background: #0f1c25;
        padding: 80px 0;
        color: #ababab;
    }

    #services{
        position: relative;
        background: #0f1c25;
        padding: 30px 0;
    }

    #portfolio{
        position: relative;
        background: #0f1c25;
        padding: 50px 0;
    }
    

    .layer h3{
        color: #0f1c25;
        font-weight: 1000;
        margin-bottom: 20px;
        font-size: 30px;
    }
    #contact{
        position: relative;
        background: #0f1c25;
    }
}